@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Movie List"; // sets the Title property of the ViewData dictionary to "Movie List". as we have [<title>@ViewData["Title"] - Movie App</title>] in layout.cshtml file 
}

<h2>My Movie List</h2>

<p>Hello from our view template</p>
